.container {
    width: 80%;
    margin-top: 10%;
    color: orange;
}

#tanggal {
    font-size: 3em;
    font-family: 'Roboto',
        sans-serif;
    color: orange;
}

#waktu {
    font-size: 2em;
    font-family: 'Roboto',
        sans-serif;
    color: orange;
}

.pilihan {
    font-size: 1.5em;
    font-family: 'Roboto',
        sans-serif;
}

.judul {
    font-size: 1.5em;
    font-family: 'Roboto',
        sans-serif;
    color: orange;
}

#from {
    color: seagreen;
}

#to {
    color: seagreen;
}